<template>
  <div>
    <ComputedView />
  </div>
</template>

<script>
import ComputedView from './components/ComputedView.vue';
  export default {
    components: {
      ComputedView,
    },
  }
</script>